@page "/"
@inject UserService US

<PageTitle>Title</PageTitle>

<h2>Таблица пользователей</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Действия</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>
                    @user.Id
                </td>
                <TableField user=@user property="Name"/>
                <TableField user=@user property="Age"/>
                <td>
                    <button class="btn btn-warning" @onclick="() => UpdateUser(user)">Обновить</button>
                    <button class="btn btn-danger" @onclick="() => DeleteUser(user)">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<UserForm OnValidSubmit="AddUser"/>

@code {
    List<User> users = new List<User>();

    private void AddUser(User user)
    {
        US.AddUserAsync(user).GetAwaiter().OnCompleted(() =>
        {
            Fetch();
        });
    }

    private void UpdateUser(User user)
    {
        US.UpdateUserAsync(user).GetAwaiter().OnCompleted(() =>
        {
            Fetch();
        });
    }

    private void DeleteUser(User user)
    {
        users.Remove(user);
        US.DeleteUserAsync(user).GetAwaiter().OnCompleted(() =>
        {
            Fetch();
        });
    }

    private void Fetch()
    {
        users = US.GetUsers();
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Fetch();
    }
}